<article class="container animated fadeIn">
  <div class="card">
    <div class="card-header bg-green">
      <h4 class="c-white">¿Quiénes somos?</h4>
    </div>
    <div class="card-body">
      <p class="text-justify">
        Somos un equipo profesional y multidisciplinario enfocados en el área de
        la salud y deporte, donde ofrecemos programas de orientación nutrimental
        y entrenamiento de acuerdo a las necesidades de mejorar: el estado
        físico y/o el estado de salud de cada persona, contando con
        nutricionistas y entrenadores deportivos físicos capacitados y
        actualizados en las ramas académicas, brindando un servicio más
        completo, vinculando en todo momento el ejercicio y planes alimenticios.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 m-top-20">
      <div class="card">
        <div class="card-header bg-green">
          <h4 class="c-white">Misión</h4>
        </div>
        <div class="card-body">
          <p class="card-text text-justify">
            Ser una organización reconocida a nivel nacional e internacional,
            por brindar servicios especializados en mejora de rendimiento
            deportivo, salud y estética corporal dirigida a hombres y mujeres
            interesados en tener un buen estado físico y de salud, mediante
            consultas nutricionales y entrenamientos periodizados y estructurada
            para cada persona, basados en sus objetivos, características
            físicas, anatómicas y gustos alimenticios.
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 m-top-20">
      <div class="card">
        <div class="card-header bg-green">
          <h4 class="c-white">Visión</h4>
        </div>
        <div class="card-body">
          <p class="card-text text-justify">
            Consolidar Reconocimiento a nivel nacional e internacional, por
            generar mejoras físicas y de salud, que permitan superar las
            expectativas de nuestros clientes, por la calidad de servicio, y
            valides académica.
          </p>
        </div>
      </div>
    </div>
  </div>
</article>
