<footer id="footer" class="bg-gray">
  <br />
  <div class="container text-center">
    <div>
      <h4>Ubicación</h4>
      <h6>Calle Tampico #56, esquina con Nautla col. Progreso</h6>
    </div>
    <br />
    <div>
      <h4>Contacto</h4>
      <h6>
        <span class="fas fa-envelope m-right-5"></span>Parra_kyle@hotmail.com
      </h6>
      <h6><span class="fas fa-phone m-right-5"></span> 744-459-6869</h6>
    </div>
  </div>
  <br />
  <div class="bg-shadow">
    <h6>&copy; {{ anio }} Copyright: Nutrition and Fitness</h6>
  </div>
</footer>
