<article class="container animated fadeIn">
  <div class="row mb-4">
    <div class="col-lg-6 col-sm-12">
      <img src="assets/images/portada.png" class="img-fluid" />
    </div>
    <div class="col-lg-6 col-sm-12">
      <img src="assets/images/texto.png" class="img-fluid" />
    </div>
  </div>
  <div class="card-deck">
    <div class="card">
      <div class="card-header">
        <h4>Misión</h4>
      </div>
      <div class="card-body">
        <p class="card-text text-justify">
          Ser un gimnasio que brinde servicios especializados en mejorar el
          rendimiento deportivo de nuestros miembros, dirigidos a hombres y
          mujeres interesados en tener un buen estado físico y de salud,
          ofreciendo clases de MMA (Artes Marciales Mixtas), kick boxing, kali,
          sumisión, defensa personal, entrenamiento de pesas y acondicionamiento
          físico.
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h4>Visión</h4>
      </div>
      <div class="card-body">
        <p class="card-text text-justify">
          Ser un gimnasio líder en el puerto de Acapulco distinguido por generar
          una mejora física y de salud, que permitan superar las expectativas de
          nuestros clientes, por la calidad en el servicio e innovación de
          programas integrales de ejercicios.
        </p>
      </div>
    </div>
  </div>
  <div class="text-center">
    <div class="row mb-4">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <img src="assets/images/programa1.png" class="img-fluid" />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <img src="assets/images/programa2.png" class="img-fluid" />
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-lg-6 col-sm-12">
        <img src="assets/images/linea.png" height="10" width="300" />
      </div>
      <div class="col-lg-6 col-sm-12">
        <img src="assets/images/linea.png" height="10" width="300" />
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <img src="assets/images/programa3.png" class="img-fluid" />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <img src="assets/images/programa4.png" class="img-fluid" />
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-lg-6 col-sm-12">
        <img src="assets/images/linea.png" height="10" width="300" />
      </div>
      <div class="col-lg-6 col-sm-12">
        <img src="assets/images/linea.png" height="10" width="300" />
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <img src="assets/images/programa6.png" class="img-fluid" />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <img src="assets/images/horario.png" class="img-fluid" />
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-lg-6 col-sm-12">
        <img src="assets/images/linea.png" height="10" width="300" />
      </div>
      <div class="col-lg-6 col-sm-12">
        <img src="assets/images/linea.png" height="10" width="300" />
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <img src="assets/images/precios.png" class="img-fluid" />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <img src="assets/images/programa5.png" class="img-fluid" />
      </div>
    </div>
  </div>
</article>
